.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navLink {
  text-decoration: none;
  color: #000;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 10px;
}

.logoText {
  font-weight: bold;
  font-size: 1.4em;
  padding: 0 10px;
  margin-bottom: 0;
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  margin: 0 10px;
}

.link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.spinner {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }

  .item {
    margin: 10px 0;
  }
}
